.TodoAppBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 64px;
  background-color: var(--Main-Background-Color);
  color: #104456;
  padding: 15px;
  font-size: 14px;
  gap: 8px;
  
}
.TodoAppBox:hover {
  background-color: var(--Input-Background-Color);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.TodoAppBoxTop {
  display: flex;
  flex-direction: row;
  height: 48px;
}
.inputDiv {
  height: 48px;
  margin-right: 10px;
  width: 20px;
  padding-top: 12px;
}
.TodoAppBoxCheck {
  appearance: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border: 2px solid var(--Idle-Color);
  border-radius: 100%;
}
.TodoAppBoxCheck:checked {
  border: 2px solid var(--Custom-Color-2);
  background-color: var(--Custom-Color-2);
}
.TaskTitle {
  font-size: 25px;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.datePickerInput {
  background-color: inherit;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  color: var(--Primary-Color);
}
.datePickerInput:focus {
  outline: 0;
}
.rightSide {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  height: 30px;
  gap: 16px;
}
.TodoAppBoxDelete {
  margin-left: auto;
  width: fit-content;
  height: 100%;
  background: 0;
  border: 0;
  font-size: 12px;
  cursor: pointer;
  color: #9d9d9d;
}
.TaskText {
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}