.TodoAppBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid teal;
  font-size: 20px;
  background-color: rgba(0, 255, 255, 0.1);
  overflow-wrap: break-word;
}
.TodoAppBoxCheck {
  appearance: none;
  margin: 0 10px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border: 1px solid teal;
  border-radius: 100%;
}
.TodoAppBoxCheck:checked {
  background-color: teal;
}
.rightSide {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 5px;
  height: 100%;
}
.TodoAppBoxDelete {
  margin-left: auto;
  width: 20px;
  height: 60%;
  background: 0;
  border: 0;
  color: red;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
  float: right;
  padding-bottom: 10px;
}
.TodoAppBox:hover .TodoAppBoxDelete {
  opacity: 1;
}
.datePickerInput {
  background-color: rgba(0, 255, 255, 0);
  color: rgb(0, 90, 90);
  font-size: 13px;
  font-weight: 600;
  border: none;
  width: 70px;
  cursor: pointer;
}
.datePickerInput:focus {
  outline: 0;
}
h2 {
  font-size: 25px;
}
p {
  font-size: 15px;
}
