.TodoAppBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 64px;
  background-color: #f5f5f5;
  color: #104456;
  margin: 5px;
  padding: 15px;
  padding-right: 0;
  font-size: 14px;
}
.TodoAppBox:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.TodoAppBoxTop {
  display: flex;
  flex-direction: row;
  height: 48px;
}
.inputDiv {
  height: 48px;
  margin-right: 10px;
  width: 20px;
  padding-top: 12px;
}
.TodoAppBoxCheck {
  appearance: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border: 1px solid teal;
  border-radius: 100%;
}
.TodoAppBoxCheck:checked {
  background-color: teal;
}
.TaskTitle {
  font-size: 25px;
}
.datePickerInput {
  background-color: rgba(0, 255, 255, 0);
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  color: #2089ac;
}
.datePickerInput:focus {
  outline: 0;
}
.rightSide {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 5px;
  height: 30px;
}
.TodoAppBoxDelete {
  margin-left: auto;
  width: 85px;
  height: 100%;
  background: 0;
  border: 0;
  font-size: 12px;
  cursor: pointer;
  color: #9d9d9d;
}
