header {
  width: 100%;
  border-bottom: 1px solid teal;
  display: flex;
  height: 100px;
  align-items: center;
  margin-bottom: 1px;
  background-color: rgba(0, 200, 200, 0.1);
}
.TodoAppCheckAll {
  border: 0;
  background: 0;
  position: absolute;
  height: 60px;
  width: 45px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
form {
  width: 100%;
  height: 50%;
}
.TodoAppInput {
  border: 0;
  width: 100%;
  height: 100%;
  padding-left: 60px;
  font-size: 20px;
  background-color: rgba(0, 200, 200, 0);
}
.TodoAppInput:focus {
  background-color: rgba(0, 255, 200, 0.1);
  outline: 0;
}
.headerDatePickerInput{
  background-color: rgba(0, 255, 255, 0);
  color: rgb(0, 90, 90);
  font-size: 13px;
  font-weight: 600;
  border: none;
  width: 70px;
  cursor: pointer;
}
.datePickerInput:focus{
  outline: 0;
}
.headerInputs{
  height: 100%;
  width: 100%;
}