.UIInputForm {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.UIInputForm:hover {
  background: var(--Input-Background-Color);
  outline: 1px solid var(--Primary-Color);
  border-radius: 4px;
}
.UIInput {
  min-height: 40px;
  width: 100%;
  font-weight: 400;
  color: var(--Text-Color);
  background: inherit;
  border: none;
  cursor: pointer;
  resize: none;
  padding: 4px 34px 4px 12px;
}
.UIInput:focus {
  box-shadow: none;
  background: var(--Input-Background-Color);
  outline: 1px solid var(--Primary-Color);
  border-radius: 4px;
  color: var(--Text-Color);
}
.UIInput::-webkit-scrollbar {
  display: none;
}
.UIInputIcon {
  width: 12px;
  height: 12px;
  position: absolute;
  margin-top: 14px;
  margin-right: 12px;
  cursor: pointer;
}
.UIInputIcon:hover {
  color: var(--Primary-Color);
}
.UITextarea {
  min-height: 40px;
  width: 100%;
  font-weight: 400;
  color: var(--Text-Color);
  background: inherit;
  border: none;
  cursor: pointer;
  resize: none;
  padding: 4px 34px 4px 12px;
}
.UITextarea:focus {
  box-shadow: none;
  background: var(--Input-Background-Color);
  outline: 1px solid var(--Primary-Color);
  border-radius: 4px;
  color: var(--Text-Color);
}
.UITextarea::-webkit-scrollbar {
  display: none;
}
