.Footer {
  min-height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--Main-Background-Color);
  border-top: 2px solid var(--Side-Panel-Background-Color);
  margin: 0 4px;
  padding-right: 5px;
  justify-content: space-between;
}
.footerRightSide{
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.footerAddTask:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.footerAddTask:active {
  background-color: var(--Text-Color);
}
.footerInput {
  width: 255px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 400;
  color: var(--Idle-Color);
  border: 1px solid var(--Idle-Color);
  border-radius: 5px;
  cursor: pointer;
}
.footerInput:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.footerInput:focus {
  box-shadow: none;
  outline: 0;
  border: 2px solid var(--Primary-Color);
  padding-left: 14px;
  color: var(--Text-Color);
}
.footerActiveSort{
  display: flex;
  align-items: center;
}
.footerFilter {
  height: 32px;
  width: 200px;
}

.footerNavButton {
  color: teal;
  border: 0;
  background: 0;
  margin-left: 10px;
  cursor: pointer;
}
