* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: var(--Main-Background-Color);
}
#root {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page {
  display: flex;
  flex-direction: row;
  background-color: var(--Main-Background-Color);
  gap: 10px;
}
.TaskList {
  display: flex;
  width: calc(100vw - 320px);
  max-width: 910px;
  height: calc(100vh - 64px);
  flex-direction: column;
  padding: 10px 5px 0 5px;
  overflow-y: scroll;
  gap: 10px;
}
.TaskList::-webkit-scrollbar {
  display: none;
}