@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: var(--Main-Background-Color);
}
#root {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page {
  display: flex;
  flex-direction: row;
  background-color: var(--Main-Background-Color);
  padding-right: 5px;
  max-width: 1310px;/* просто удобнее работать  */
}
.rightPanel{
  display: flex;
  flex-direction: column;
  padding: 16px 0 0 5px;
}
.TaskList {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100vh - 80px); /* хз как тут без vh обойтись*/
  padding: 5px 5px 0 5px;
  gap: 10px;
  overflow-y: scroll;
}
.TaskList::-webkit-scrollbar {
  display: none;
}
.AppNoTasks{
  text-align: center;
  color: var(--Text-Color);
  padding-top: 10px;
}