* {
  --Main-Background-Color: #f5f5f5;
  --Side-Panel-Background-Color: #d9d9d9;
  --Side-Panel-Hover-Color: #c9d0d3;
  --Input-Background-Color: #ffffff;
  --Idle-Color: #9d9d9d;
  --Primary-Color: #2089ac;
  --Text-Color: #104456;
  --Custom-Color-1: #b5b577;
  --Custom-Color-2: #89ac7f;
  --Custom-Color-3: #d85b5d;
  --Custom-Color-4: #977846;
}
