header{
  width: 100%;
  border-bottom: 1px solid teal;
  display: flex;
  height: 60px;
  align-items: center;
  margin-bottom: 1px;
}
.TodoAppCheckAll{
  border: 0;
  background: 0;
  position: absolute;
  height: 60px;
  width: 45px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
form{
  width: 100%;
  height: 100%;
}
.TodoAppInput{
  border: 0;
  width: 100%;
  height: 100%;
  padding-left: 60px;
  font-size: 20px;
  background-color: rgba(0, 200, 200, 0.1);
}
.TodoAppInput:focus{
  background-color: rgba(0, 255, 200, 0.1);
  outline: 0;
}